.button {
	background-color: #a3c4f3;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width:80px;
	font-weight: bold;
  }
  
.button2 {background-color: #cfbaf0;}
.button3 {background-color: #b9fbc0;}

.btn-container, .container {
	background-color: white;
	border-radius: 4px;
	text-align: center;
	margin-bottom: 40px;
}
.container h2 {
	padding-top: 30px;
	font-weight: 300;
}